{% extends "base.html" %}
{% load i18n staticfiles %}

{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% trans "title" %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom navbar -->
    <link href="{% static 'css/custom-navbar.css'%}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{% static 'css/custom.css'%}" rel="stylesheet">


    <link href="{% static 'css/business.css'%}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{% static 'css/footer.css'%}" rel="stylesheet">

    <!-- open sans font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>
{% endblock %}

{% block content %}
<div class="container container-service">
    <div class="row service-row mx-auto">

        <!-- Left side of page -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <img class="service-heading-icon"
                             src="{% static 'img/services/business-icon.png'%}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-12">
                    <p class="service-heading light-green group-heading text-uppercase">{% trans "business.client.1" %}</p>
                    <br>
                    <strong class="dark-green text-justify">{% trans "business.char.1" %}</strong>
                    <br>
                    <span class="dark-green text-justify">{% trans "business.text.1.1" %}.</span>
                    <br>
                    <br>
                    <strong class="dark-green text-justify">{% trans "business.char.2" %}</strong>
                    <br>
                    <span class="dark-green text-justify">{% trans "business.text.2.1" %}.</span>
                    <br>
                    <br>
                    <strong class="dark-green text-justify">{% trans "business.char.3" %}</strong>
                    <br>
                    <span class="dark-green text-justify">{% trans "business.text.3.1" %}</span>
                    <br>
                    <br>
                    <strong class="dark-green text-justify">{% trans "business.char.4" %}</strong>
                    <br>
                    <span class="dark-green text-justify">{% trans "business.text.4.1" %}</span>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"
                     style="background-image: url('static/img/Teenuse_pilt_1.png'%}'); height: 400px; margin-left: 15px; margin-right: 15px;">
                </div>
            </div>
        </div>

        <!-- Right side of page -->
        <div class="col-md-6">
            <div class="container-fluid services-container">

                <!-- first row -->
                <div class="row services-row mx-auto">
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/1"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/service-1.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto">{% trans "service.1" %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/2"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/service-2.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto text-justify">{% trans "service.2" %}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of first row -->

                <!-- second row -->
                <div class="row services-row mx-auto">
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/3"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/service-3.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto">{% trans "service.3" %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/4"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/service-4.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto text-justify">{% trans "service.4" %}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of second row -->

                <!-- third row -->
                <div class="row services-row mx-auto">
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/5"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/service-5.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto text-justify">{% trans "service.5" %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/6"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/service-6.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto">{% trans "service.6" %}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of third row -->

                <!-- fourth row -->
                <div class="row services-row mx-auto">
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/7"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/service-7.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto text-justify">{% trans "service.7" %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/8"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/service-8.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto text-justify">{% trans "service.8" %}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of fourth row -->

                <!-- fifth row -->
                <div class="row services-row mx-auto">
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/9"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/service-9.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto text-justify">{% trans "service.9" %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/10"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/service-10.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto text-justify">{% trans "service.10" %}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of fifth row -->

                <!-- sixth row -->
                <div class="row services-row mx-auto">
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/11"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/service-11.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto text-justify">{% trans "service.11" %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/12"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/service-12.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto text-justify">{% trans "service.12" %}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of second row -->

                <!-- seventh row -->
                <div class="row services-row mx-auto">
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/13"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/Krausber ikoonid_final_roheline-09.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto text-justify">{% trans "service.13" %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/14"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/service-14.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto text-justify">{% trans "service.14" %}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of second row -->

                <!-- eigth row -->
                <div class="row services-row mx-auto">
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/15"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/service-15.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto text-justify">{% trans "service.15" %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 group-service">
                        <a href="/services/16"><span></span></a>
                        <div class="row icon-row">
                            <div class="col-md-12 icon-col">
                                <div class="mx-auto">
                                    <img class="service-icon"
                                         src="{% static 'img/services/service-16.png'%}">
                                </div>
                            </div>
                        </div>
                        <div class="row service-text-row">
                            <div class="col-md-12 icon-col">
                                <span class="service-text light-green mx-auto text-justify">{% trans "service.16" %}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of eight row -->

            </div>
            <!-- end of container -->
        </div>
    </div>
</div>

<div class="container-fluid contact-container" id="contact-us">
    <form method="post" action="" class="mx-auto long-form">
        {% csrf_token %}
        <div class="row contact-sentence-row text-center">
            <div class="col-xs-12 col-md-9 col-lg-9 col-xl-9">
                <span class="call-to-action group-heading">{% trans "contact.us" %}</span>
            </div>
        </div>
        <div class="row contact-row">
            <div class="col-md-6" style="width: 100%;">
                <div class="row">
                    <div class="col-md-6">
                        {{ contact_form.name }}
                    </div>
                    <div class="col-md-6">
                        {{ contact_form.phone_num }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ contact_form.email }}
                    </div>
                    <div class="col-md-6">
                        {{ contact_form.address }}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                {{ contact_form.message }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="row contact-row-button">
                    <div class="col-md-4 ml-auto">
                        <button type="submit" class="form-btn long-form-btn">{% trans "business.send-button" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row footer">
        <div class="col-auto text-center group-footer-text my-auto">
            <img class="fb-img" src="{% static 'img/footer-phone.png'%}"/>
            <a class="footer-text" href="tel:+18475555555">+372 6391777</a>
        </div>
        <div class="col-auto text-center group-footer-text footer-center my-auto">
            <img class="fb-img" src="{% static 'img/footer-mail.png'%}"/>
            <a class="footer-text" href="mailto:someone@example.com?Subject=Hello%20again" target="_top">krausberg@krausberg.ee</a>
        </div>
        <div class="col-auto text-center group-footer-text my-auto">
            <span class="footer-text">OÜ Krausberg Eesti</span></div>
        <div class="col-lg-2 text-center ml-auto fb">
            {% trans 'follow.us' %}
            <a href="https://www.facebook.com/Krausberg-Eesti-267233386650876/">
                <img class="fb-img" src="{% static 'img/fb.png'%}"/>
            </a>
        </div>
    </div>
</div>
{% endblock %}
