{% extends "base.html" %}
{% load i18n staticfiles %}

{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.png'%}">

    <title>{% trans "title" %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom navbar -->
    <link href="{% static 'css/custom-navbar.css'%}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{% static 'css/custom.css'%}" rel="stylesheet">


    <link href="{% static 'css/job-offers.css'%}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{% static 'css/footer.css'%}" rel="stylesheet">

    <!-- open sans font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
{% endblock %}

{% block content %}
<div class="container container-job-offerings">

    <!-- first row of job offers -->
    <div class="row job-offerings-row">

        <!-- job-offer -->
        <div class="col-sm-6 col-md-6 col-lg-4 offer-col heading-offer-col">
            <div class="row offer-row">
                <div class="col-12 card-img">
                    <div class="row page-heading">
                        <div class="col-md-12 col-centered">
                            <span class="card-heading light-green"><strong>{% trans "TÖÖKUULUTUSED" %}</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- job-offer -->
        {% for offer in active_offers %}
        <div class="col-sm-6 col-md-6 col-lg-4 offer-col">
            {% get_current_language as LANGUAGE_CODE %}
            <div class="row offer-row">
                <div class="col-12 card-img" style="background-image: url({{ offer.image.url }});">
                    <div class="row card-text-row">
                        <div class="col-md-12 col-centered">
                            <span class="card-subheading">{% trans "Krausberg otsib" %}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-centered">
                            {% if LANGUAGE_CODE == 'et' %}
                            <span class="card-heading light-green"><strong>{{ offer.position_et }}</strong></span>
                            {% elif LANGUAGE_CODE == 'en' %}
                            <span class="card-heading light-green"><strong>{{ offer.position_en }}</strong></span>
                            {% elif LANGUAGE_CODE == 'ru' %}
                            <span class="card-heading light-green"><strong>{{ offer.position_ru }}</strong></span>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="row button-row">
                <div class="card-block">
                    <div class="container-fluid full-width-container vacancies">
                        <a href="{{ offer.link }}"><span></span></a>
                        <div class="row offer-button mx-auto my-auto">
                            <span id="jumbo" class="dark-green proposal-text check-offerings group-heading"><a
                                    href="{{ offer.link }}">{% trans "KANDIDEERI" %}</a></span>
                        </div>
                    </div>
                    {% if LANGUAGE_CODE == 'et' %}
                    <span class="card-text">{{ offer.intro_text_et }}</span>
                    {% elif LANGUAGE_CODE == 'en' %}
                    <span class="card-text">{{ offer.intro_text_en }}</span>
                    {% elif LANGUAGE_CODE == 'ru' %}
                    <span class="card-text">{{ offer.intro_text_ru }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <!-- end of row -->

</div>
<!-- end of container -->

<div class="container-fluid contact-container" id="contact-us">
    <form method="post" action="" class="mx-auto long-form">
        {% csrf_token %}
        <div class="row contact-sentence-row text-center">
            <div class="col-xs-12 col-md-9 col-lg-9 col-xl-9">
                <span class="call-to-action group-heading">{% trans "contact.us" %}</span>
            </div>
        </div>
        <div class="row contact-row">
            <div class="col-md-6" style="width: 100%;">
                <div class="row">
                    <div class="col-md-6">
                        {{ contact_form.name }}
                    </div>
                    <div class="col-md-6">
                        {{ contact_form.phone_num }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ contact_form.email }}
                    </div>
                    <div class="col-md-6">
                        {{ contact_form.address }}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                {{ contact_form.message }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="row contact-row-button">
                    <div class="col-md-4 ml-auto">
                        <button type="submit" class="form-btn long-form-btn">{% trans "SAADA" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row footer">
        <div class="col-auto text-center group-footer-text my-auto">
            <img class="fb-img" src="{% static 'img/footer-phone.png'%}"/>
            <a class="footer-text" href="tel:+18475555555">+372 6391777</a>
        </div>
        <div class="col-auto text-center group-footer-text footer-center my-auto">
            <img class="fb-img" src="{% static 'img/footer-mail.png'%}"/>
            <a class="footer-text" href="mailto:someone@example.com?Subject=Hello%20again" target="_top">krausberg@krausberg.ee</a>
        </div>
        <div class="col-auto text-center group-footer-text my-auto">
            <span class="footer-text">OÜ Krausberg Eesti</span></div>
        <div class="col-lg-2 text-center ml-auto fb">
            {% trans 'follow.us' %}
            <a href="https://www.facebook.com/Krausberg-Eesti-267233386650876/">
                <img class="fb-img" src="{% static 'img/fb.png'%}"/>
            </a>
        </div>
    </div>
</div>
{% endblock %}
