{% extends "base.html" %}
{% load i18n staticfiles %}

{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.png'%}">

    <title>{% trans "title" %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom navbar -->
    <link href="{% static 'css/custom-navbar.css'%}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{% static 'css/custom.css'%}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{% static 'css/services.css'%}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{% static 'css/footer.css'%}" rel="stylesheet">

    <!-- open sans font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
{% endblock %}

{% block content %}
<div class="container-fluid services-container">

    <div class="row services-row mx-auto">
        <div class="col-xs-12 col-md-3 service-heading dark-green">
            <strong class="group-category group-heading">{% trans "services.category-1" %}</strong>
            <div class="arrow-down mx-auto"></div>
        </div>
    </div>

    <!-- first row -->
    <div class="row services-row mx-auto">
        <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/1"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-1.png' %}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.1" %}</span>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/2"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-2.png' %}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.2" %}</span>
                </div>
            </div>
        </div>


        <div class="col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/3"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-3.png' %}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.3" %}</span>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/4"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-4.png' %}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.4" %}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- end of first row -->

    <!-- second row -->
    <div class="row services-row mx-auto">

        <div class="col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/5"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-5.png' %}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.5" %}</span>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/6"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-6.png'%}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.6" %}</span>
                </div>
            </div>
        </div>

    </div>
    <!-- end of second row -->

    <div class="row services-row mx-auto">
        <div class="col-xs-12 col-md-3 service-heading dark-green">
            <strong class="group-category group-heading">{% trans "services.category-2" %}</strong>
            <div class="arrow-down mx-auto"></div>
        </div>
    </div>

    <!-- first row -->
    <div class="row services-row mx-auto">
        <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/7"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-7.png'%}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.7" %}</span>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/8"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-8.png'%}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.8" %}</span>
                </div>
            </div>
        </div>


        <div class="col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/9"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-9.png'%}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.9" %}</span>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/10"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-10.png'%}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.10" %}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- end of first row -->

    <!-- second row -->
    <div class="row services-row mx-auto">

        <div class="col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/11"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-11.png'%}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.11" %}</span>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/12"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-12.png'%}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.12" %}</span>
                </div>
            </div>
        </div>


        <div class="col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/13"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-13.png'%}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.13" %}</span>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/14"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-14.png'%}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.14" %}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- end of second row -->

    <div class="row services-row mx-auto">
        <div class="col-xs-12 col-md-3 service-heading dark-green">
            <strong class="group-category group-heading">{% trans "services.category-3" %}</strong>
            <div class="arrow-down mx-auto"></div>
        </div>
    </div>

    <!-- first row -->
    <div class="row services-row mx-auto">
        <div class="col-xs-12 col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/15"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-15.png'%}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.15" %}</span>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-lg-3 col-xl-3 group-service">
            <a href="/services/16"><span></span></a>
            <div class="row icon-row">
                <div class="col-md-12 icon-col">
                    <div>
                        <img class="service-icon"
                             src="{% static 'img/services/service-16.png'%}">
                    </div>
                </div>
            </div>
            <div class="row service-text-row">
                <div class="col-md-10 icon-col">
                    <span class="service-text light-green">{% trans "service.16" %}</span>
                </div>
            </div>
        </div>

    </div>
    <!-- end of first row -->

</div>
<!-- end of container -->

{% include 'long-footer.html' %}

{% endblock %}
