.image-col {
  background-image: url(../img/krausberg_statistika.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.service-row {
  height: 700px;
}

.service-text {
  padding-top: 70px;
  text-align: justify !important;
}