.image-col {
  background-repeat: no-repeat;
  background-size: contain;
}

.service-row {
  height: auto;
}

.service-text {
  padding-top: 70px;
  text-align: justify !important;
}

.service-picture-col {
  margin-top: 15px;
  min-height: 600px !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}