.container-service {
  padding-top: 100px;
}

.services-container {
  padding-top: 140px;
}

.service-text-row {
  text-align: justify !important;
}

.service-heading-icon {
  width: 40px;
}

.service-icon {
  width: 40px;
  margin-bottom: 10px;
}

.icon-col span {
  word-wrap: break-word;
}

.services-row {
  margin-bottom: 60px;
}

.service-heading {
  font-size: 13px;
  margin-bottom: 40px;
}

.service-text {
  font-size: 11px;
  text-align: center;
  font-weight: 900;
}

.group-service a span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

@media (max-width: 990px) {

  .services-container {
    padding-top: 40px;
  }

  .services-row {
    margin-bottom: 0px;
  }

  .group-service {
    margin-bottom: 50px;
  }

  .service-icon {
    width: 50px;
  }

}
