/* change the background color */

.navbar {
  height: auto;
  background-color: white;
  font-family: Aller;
  box-shadow: 2.5px 4.33px 57px 0px rgba( 4, 5, 5, 0.1);
}

.navbar-nav {
  font-size: 100%;
}

.krausberg-logo {
    height: 65px;
}
