span{
  font-family: 'Open Sans', sans-serif;
}

.container-job-offerings {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70%;
}

.card-block {
    padding: 0 !important;
}

.vacancies {
  height: 70px;
  padding: 10px;
  display: flex;
}

.vacancies:hover {
  background: rgba(44, 76, 59, 0.9);
}

.vacancies:hover #jumbo::after {
  right: 65px;
  bottom: 15px;
}

.vacancies:hover #jumbo::before {
  left: 65px;
  top: 15px;
}

/*whole container clickable*/
.vacancies a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* edit: added z-index */
  z-index: 1;
}

.ask-proposal {
  height: 60px;
}

#jumbo {
  height: 100%;
  font-size: 15px !important;
}

.col-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-offerings-row {
  height: auto;
}

.offer-col {
  padding-top: 50px;
  height: 500px;
}

.offer-row {
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
}

.button-row {
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
}

.page-heading {
  margin-top: 100px !important;
}

.card-text-row {
  margin-top: 100px !important;
  font-size: 10px;
}

.card-text {
  font-size: 12px;
}

.card-img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  min-height: 250px;
}

.card-subheading {
  font-size: 13px;
}

.card-heading {
  font-size: 20px;
}

.card-block {
  width: 100%;
  margin-bottom: 50px;
}

.offer-button {
  width: 97%;
}

.send-contact {
  margin-top: 15px;
  padding: 0 !important;
  height: 60px;
  background: white;
  color: rgba(44, 76, 59, 1);
}

.send-contact a {
  color: rgba(44, 76, 59, 1);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.send-contact a:hover {
  color: rgba(44, 76, 59, 1);
  text-decoration: none !important font-weight: 600;
}

#send-contact::before, #send-contact::after {
  width: 10px;
  height: 10px;
  content: "";
  position: absolute;
  transition: 0.5s ease all;
}

#send-contact::before {
  left: 0;
  top: 0;
  border-top: green solid 3px;
  border-left: green solid 3px;
}

#send-contact::after {
  bottom: 0;
  right: 0;
  border-bottom: green solid 3px;
  border-right: green solid 3px;
}

#send-contact:hover {
  color: rgba(44, 76, 59, 1);
}

#send-contact:hover::before {
  left: 10px;
  top: 10px;
  color: black;
}

#send-contact:hover::after {
  right: 10px;
  bottom: 10px;
  color: black;
}

