.container-service {
  margin-top: 100px;
  margin-bottom: 50px;
}

.service-row {
  width: 80%;
  min-height: 400px;
}

.service-icon {
  width: 50px;
}

.icon-col {
  display: flex;
  justify-content: left;
  align-items: left;
}

.service-heading {
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.service-text {
  font-size: 14px;
  margin-top: 10px;
}

.service-picture-col {
  margin-top: 15px;
  min-height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}
